### Defaults
default:
  poll:
    size: 100
  rabbitmq:
    concurrency: 3-5
    poll:
      max-length: 10
    ttl: 300000
    retry:
      max-attempts: 2
      interval: 300ms
  timeout: 10m

### Spring
spring:
  application:
    name: images
  cors:
    allow-credentials: true
    allowed-methods: GET, POST, OPTIONS
  rabbitmq:
    exchange:
      image: images
      image-dead-letter: images-dead-letter-exchange
      scheduler: scheduler
      webhook: webhooks
      webhook-dead-letter: webhooks-dead-letter-exchange
    queue:
      default-images:
        name: default-images
        concurrency: ${default.rabbitmq.concurrency}
        ttl: ${default.rabbitmq.ttl}
        retry:
          max-attempts: ${default.rabbitmq.retry.max-attempts}
          interval: ${default.rabbitmq.retry.interval}
      external-images:
        name: external-images
        concurrency: ${default.rabbitmq.concurrency}
        ttl: ${default.rabbitmq.ttl}
        retry:
          max-attempts: ${default.rabbitmq.retry.max-attempts}
          interval: ${default.rabbitmq.retry.interval}
      image-removal:
        name: image-removal
        concurrency: ${default.rabbitmq.concurrency}
        ttl: ${default.rabbitmq.ttl}
        retry:
          max-attempts: ${default.rabbitmq.retry.max-attempts}
          interval: ${default.rabbitmq.retry.interval}
      image-poll-tick:
        name: image-poll-tick
        max-length: ${default.rabbitmq.poll.max-length}
      image-gc-tick:
        name: image-gc-tick
        max-length: ${default.rabbitmq.poll.max-length}
      webhooks:
        name: webhooks
        concurrency: ${default.rabbitmq.concurrency}
        ttl: ${default.rabbitmq.ttl}
        retry:
          max-attempts: ${default.rabbitmq.retry.max-attempts}
          interval: ${default.rabbitmq.retry.interval}
      webhook-poll-tick:
        name: webhook-poll-tick
        max-length: ${default.rabbitmq.poll.max-length}
      webhook-gc-tick:
        name: webhook-gc-tick
        max-length: ${default.rabbitmq.poll.max-length}
    routing-key:
      default-images: images.default
      external-images: images.external
      image-poll-tick: second
      image-gc-tick: minute
      webhooks: webhooks
      webhook-poll-tick: second
      webhook-gc-tick: minute
      image-removal: image-removal
  servlet:
    multipart:
      max-file-size: 10485760

### Java
url:
  connect-timeout: 3000
  read-timeout: 5000

### App
image:
  allowed-types: JPEG, PNG, WEBP
  poll-size: ${default.poll.size}
  timeout: ${default.timeout}
  processor:
    editable-types: JPEG, PNG
    tasks: CROP, RESIZE

webhook:
  poll-size: ${default.poll.size}
  timeout: ${default.timeout}
  url: ''
